@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-emerald-500: #10b981;
  --color-rose-500: #f43f5e;
  --color-indigo-500: #6366f1;
}

body {
  background-color: #020617;
  color: #f8fafc;
}
